@charset "UTF-8";

/* SourceCodePro */

/* 200 */

@font-face {
  font-family: 'SourceCodePro-ExtraLight';
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/SourceCodePro-ExtraLight.ttf");
}
@font-face {
  font-family: 'SourceCodePro-ExtraLightItalic';
  font-style: italic;
  font-weight: 200;
  src: url("../assets/fonts/SourceCodePro-ExtraLightItalic.ttf");
}

/* 300 */

@font-face {
  font-family: 'SourceCodePro-Light';
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/SourceCodePro-Light.ttf");
}
@font-face {
  font-family: 'SourceCodePro-LightItalic';
  font-style: italic;
  font-weight: 300;
  src: url("../assets/fonts/SourceCodePro-LightItalic.ttf");
}

/* 400 */

@font-face {
  font-family: 'SourceCodePro-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/SourceCodePro-Regular.ttf");
}
@font-face {
  font-family: 'SourceCodePro-Italic';
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/SourceCodePro-Italic.ttf");
}

/* 500 */

@font-face {
  font-family: 'SourceCodePro-Medium';
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/SourceCodePro-Medium.ttf");
}
@font-face {
  font-family: 'SourceCodePro-MediumItalic';
  font-style: italic;
  font-weight: 500;
  src: url("../assets/fonts/SourceCodePro-MediumItalic.ttf");
}

/* 600 */

@font-face {
  font-family: 'SourceCodePro-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/SourceCodePro-SemiBold.ttf");
}
@font-face {
  font-family: 'SourceCodePro-SemiBoldItalic';
  font-style: italic;
  font-weight: 600;
  src: url("../assets/fonts/SourceCodePro-SemiBoldItalic.ttf");
}

/* 700 */

@font-face {
  font-family: 'SourceCodePro-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/SourceCodePro-Bold.ttf");
}
@font-face {
  font-family: 'SourceCodePro-BoldItalic';
  font-style: italic;
  font-weight: 700;
  src: url("../assets/fonts/SourceCodePro-BoldItalic.ttf");
}

/* 800 */

@font-face {
  font-family: 'SourceCodePro-ExtraBold';
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/SourceCodePro-ExtraBold.ttf");
}
@font-face {
  font-family: 'SourceCodePro-ExtraBoldItalic';
  font-style: italic;
  font-weight: 800;
  src: url("../assets/fonts/SourceCodePro-ExtraBoldItalic.ttf");
}

/* 900 */

@font-face {
  font-family: 'SourceCodePro-Black';
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/SourceCodePro-Black.ttf");
}
@font-face {
  font-family: 'SourceCodePro-BlackItalic';
  font-style: italic;
  font-weight: 900;
  src: url("../assets/fonts/SourceCodePro-BlackItalic.ttf");
}
