@charset "UTF-8";

/* Mulish */

/* 200 */

@font-face {
  font-family: 'Mulish-ExtraLight';
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/Mulish/Mulish-ExtraLight.ttf");
}

@font-face {
  font-family: 'Mulish-ExtraLightItalic';
  font-style: italic;
  font-weight: 200;
  src: url("../assets/fonts/Mulish/Mulish-ExtraLightItalic.ttf");
}

/* 300 */

@font-face {
  font-family: 'Mulish-Light';
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Mulish/Mulish-Light.ttf");
}

@font-face {
  font-family: 'Mulish-LightItalic';
  font-style: italic;
  font-weight: 300;
  src: url("../assets/fonts/Mulish/Mulish-LightItalic.ttf");
}

/* 400 */

@font-face {
  font-family: 'Mulish-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Mulish/Mulish-Regular.ttf");
}

/* 500 */

@font-face {
  font-family: 'Mulish-Medium';
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Mulish/Mulish-Medium.ttf");
}

@font-face {
  font-family: 'Mulish-MediumItalic';
  font-style: italic;
  font-weight: 500;
  src: url("../assets/fonts/Mulish/Mulish-MediumItalic.ttf");
}

/* 600 */

@font-face {
  font-family: 'Mulish-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/Mulish/Mulish-SemiBold.ttf");
}

@font-face {
  font-family: 'Mulish-SemiBoldItalic';
  font-style: italic;
  font-weight: 600;
  src: url("../assets/fonts/Mulish/Mulish-SemiBoldItalic.ttf");
}

/* 700 */

@font-face {
  font-family: 'Mulish-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Mulish/Mulish-Bold.ttf");
}

@font-face {
  font-family: 'Mulish-BoldItalic';
  font-style: italic;
  font-weight: 700;
  src: url("../assets/fonts/Mulish/Mulish-BoldItalic.ttf");
}

/* 800 */

@font-face {
  font-family: 'Mulish-ExtraBold';
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/Mulish/Mulish-ExtraBold.ttf");
}

@font-face {
  font-family: 'Mulish-ExtraBoldtalic';
  font-style: italic;
  font-weight: 800;
  src: url("../assets/fonts/Mulish/Mulish-ExtraBold.ttf");
}

/* 900 */

@font-face {
  font-family: 'Mulish-Black';
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/Mulish/Mulish-Black.ttf");
}

@font-face {
  font-family: 'Mulish-BlackItalic';
  font-style: italic;
  font-weight: 900;
  src: url("../assets/fonts/Mulish/Mulish-BlackItalic.ttf");
}

/* Inter */

/* 100 */

@font-face {
  font-family: 'Inter-Thin';
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/Inter/Inter-Thin.ttf");
}

/* 200 */

@font-face {
  font-family: 'Inter-ExtraLight';
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/Inter/Inter-ExtraLight.ttf");
}

/* 300 */

@font-face {
  font-family: 'Inter-Light';
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Inter/Inter-Light.ttf");
}

/* 400 */

@font-face {
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Inter/Inter-Regular.ttf");
}

/* 500 */

@font-face {
  font-family: 'Inter-Medium';
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Inter/Inter-Medium.ttf");
}

/* 600 */

@font-face {
  font-family: 'Inter-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/Inter/Inter-SemiBold.ttf");
}

/* 700 */

@font-face {
  font-family: 'Inter-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Inter/Inter-Bold.ttf");
}

/* 800 */

@font-face {
  font-family: 'Inter-ExtraBold';
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/Inter/Inter-ExtraBold.ttf");
}

/* 900 */

@font-face {
  font-family: 'Inter-Black';
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/Inter/Inter-Black.ttf");
}
