@import '~src/styles/variables';

form.theme-form {

}

form {
  .field {
    margin-bottom: 0.8333rem;
    position: relative;
    label {
      font-family: $theme-font-MulishMedium;
      font-style: normal;
      font-weight: 500;
      font-size: 0.7291rem;
      line-height: 0.9374rem;
      display: flex;
      align-items: center;
      color: #8692A6;
      margin-bottom: 0.8rem !important;
    }

    input {
      height: 3.3333rem;
      font-family: $theme-font-MulishMedium;
      font-style: normal;
      font-weight: 500;
      font-size: 0.7291rem;
      line-height: 0.9374rem;
      color: #8692A6;
      border-radius: 0.625rem;
      text-indent: 1.25rem;

      &:focus {
        border-color: #1565D8;
      }
    }
    textarea {
      font-family: $theme-font-MulishMedium;
      font-style: normal;
      font-weight: 500;
      font-size: 0.7291rem;
      line-height: 0.9374rem;
      color: #8692A6;
      border-radius: 0.625rem;
      text-indent: 0.25rem;

      &:focus {
        border-color: #1565D8;
      }
    }

    .password-field-eye {
      cursor: pointer;
      position: absolute;
      top: 1.25rem;
      right: 1rem;
      height: 1em;
      width: 1.35rem;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0.5C6 0.5 1.73 3.61 0 8C1.73 12.39 6 15.5 11 15.5C16 15.5 20.27 12.39 22 8C20.27 3.61 16 0.5 11 0.5ZM11 13C8.24 13 6 10.76 6 8C6 5.24 8.24 3 11 3C13.76 3 16 5.24 16 8C16 10.76 13.76 13 11 13ZM11 5C9.34 5 8 6.34 8 8C8 9.66 9.34 11 11 11C12.66 11 14 9.66 14 8C14 6.34 12.66 5 11 5Z' fill='%238692A6'/%3E%3C/svg%3E%0A");
    }

    &.phone-field {
      input {
        font-family: $theme-font-InterMedium;
        text-indent: 1.4rem;
        padding-left: 3rem !important;

        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        &[type=number] {
          -moz-appearance: textfield;
        }
      }
    }
  }

  .phone-input-icon {
    display: flex;
    align-items: center;
    top: 0.92rem !important;
    left: 0.9rem !important;
    height: unset !important;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      transform: scale(2);
    }

    span {
      font-family: $theme-font-InterMedium;
      font-style: normal;
      font-weight: 500;
      font-size: 0.7292rem;
      line-height: 0.8854rem;
      color: #8692A6;
      position: relative;
      left: 0.8rem;
    }
  }

  .control {
    button.submit-button {
      width: 100%;
      height: 3.3333rem;
      border-radius: 0.625rem;
      font-family: $theme-font-MulishMedium;
      font-style: normal;
      font-weight: 500;
      font-size: 0.7291rem;
      line-height: 0.9374rem;

      &:not(disabled) {
        background: #1565D8;
        color: #fff;
      }
    }
  }
}
