
.notifier__notification--success {
  background: #ebfffc;
  color: #00947e;

  .notifier__notification-button-icon {
    fill: #00947e !important;
  }
}

.notifier__notification--info {
  background: #eff2f8;
  color: #3855B3;

  .notifier__notification-button-icon {
    fill: #3855B3 !important;
  }

  .notifier__link {
    text-decoration: underline;
    color: #3855B3;
    font-weight: 500;
  }
}

.notifier__notification--error {
  background: #F6B8AD;


  .notifier__notification-button-icon {
    fill: #DD425A !important;
  }
}

// Main Template

.notifier__notification--material {
  align-items: flex-start;
  .notifier__notification-message {
    line-height: 24px;
    margin-top: 2px;
  }
  .notifier__notification-button {
    margin-top: -2px;
    margin-bottom: -2px;
  }
}
