@import '~src/styles/variables';

.table-wrapper {
  border-radius: 8px;

  &.table-wrapper-border {
    border: 1px solid #E6E7E9;
  }

  .table-title {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 27px;

    color: #000000;
  }
  .table-body {
    overflow: auto;
    border: 1px solid #ECECEC;
    border-radius: 0.84rem;
    box-shadow: 0 0.2rem 0.675rem rgba(0, 0, 0, 0.05);
  }
  .table-footer {
    padding: 12px 12px 12px 24px;
    border-top: 1px solid #E6E7E9;
  }
}

.table {
  margin: 0 !important;
  overflow: hidden;
  border-radius: 0.84rem;
  thead {
    tr {
      padding: 0 1.6rem;
      th {
        font-family: $theme-font-MulishBold;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #8692A6;
        padding: 1.35rem 0;

        &:first-of-type {
          padding-left: 1.6rem;
        }

        &.table-options-button {
          cursor: pointer;
          width: 40px;

          svg {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }

  th {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #181819;
    opacity: 0.9;
    height: 48px;
    padding: 0;
    vertical-align: middle;
    border-color: #ECECEC;
  }
  td {
    font-family: $theme-font-MulishMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #42505C;
    padding: 1.35rem 0;
    border-color: #ECECEC;
  }

  tr {
    transition: .2s linear;

    td {
      &:first-of-type {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
      }
    }
  }

  td.loading {

  }
  td.cell-bold {
    font-weight: 500;
  }
  td.cell-state-tag {
    span {
      padding: 0.4rem 1.25rem;
      height: 1.55rem;
      border-radius: 0.4rem;

      font-family: $theme-font-MulishRegular;
      font-style: normal;
      font-weight: 400;
      font-size: 0.73rem;
      line-height: 1.1rem;
    }

    &.under-consideration {
      span {
        background: rgba(21, 101, 216, 0.22);;
        color: #1565D8;
      }
    }
    &.approved {
      span {
        color: #01AD31;
        background: #C9F5D6;
      }
    }
    &.rejected {
      span {
        color: #CA0000;
        background: #F6B8AD;
      }
    }
  }
  td.no-data {
    text-align: center;
    height: auto;
    padding: 24px 0 3px 0;
    color: #181819;
    opacity: 0.5;
  }

  .cell-menu {
    position: relative;

    .cell-menu-area {
      cursor: pointer;
    }

    &-active {
      z-index: 2;
    }

    .dropdown {
      position: absolute;
      top: 2.5rem;
      right: 12rem;

      .dropdown-content {
        padding: 4px 0;
      }

      .dropdown-menu {
        width: 200px;
        min-width: auto;
        border: 1px solid #ECECEC;
        box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
      }

      .dropdown-item {
        padding: 0.625rem;
        cursor: pointer;
        font-family: $theme-font-MulishMedium;
        font-style: normal;
        font-weight: 500;
        font-size: 0.83rem;
        line-height: 1.145rem;
        color: #42505C;

        &:not(:last-of-type) {
          border-bottom: 1px solid #ECECEC;
        }
      }
    }
  }

  .row-inactive {
    cursor: not-allowed;
    td {
      opacity: 0.25;
      div {
        cursor: not-allowed !important;
      }
    }
  }

  &.is-hoverable {
    tbody {
      tr:not(.is-selected){
        &:hover {
          background-color: #F1F7FF;
          transition: .2s linear;
        }
      }
    }
  }
}
