// System colors
$systemOrange: #FA9C09;
$systemDarkOrange: #F57112;
$systemRed: #ED1C24;
$systemDarkRed: #A61419;
$systemGreen: #64C26E;
$systemBlue: #4D4AF3;
$systemGray: #C4C4C4;
$systemGrayLight: #d6d6d6;
$systemBlack: #222222;

// Fonts

// Mulish
$theme-font-MulishRegular: 'Mulish-Regular', 'sans-serif';
$theme-font-MulishMedium: 'Mulish-Medium', 'sans-serif';
$theme-font-MulishBlack: 'Mulish-Black', 'sans-serif';

// Inter
$theme-font-InterRegular: 'Inter-Regular', 'sans-serif';
$theme-font-InterMedium: 'Inter-Medium', 'sans-serif';
