$pageContentMaxWidthShort: 750px;

$sidebarWidth: 64px;

// System colors
$systemOrange: #FA9C09;
$systemDarkOrange: #F57112;
$systemRed: #ED1C24;
$systemDarkRed: #A61419;
$systemGreen: #64C26E;
$systemBlue: #4D4AF3;
$systemGray: #C4C4C4;
$systemGrayLight: #d6d6d6;
$systemBlack: #222222;

// Fonts
$theme-font-SourceCodeProBold: 'SourceCodePro-Bold', 'sans-serif';
$theme-font-SourceCodeProMedium: 'SourceCodePro-Medium', 'sans-serif';
