@import '~src/styles/variables';

.status-info {
  display: flex;
  flex-direction: column;

  .status-info-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3.3rem;

    .status-info-left-col {

      width: 12rem;

      .status-info-col-header {
        font-family: $theme-font-MulishMedium;
        font-style: normal;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 120%;
        text-transform: uppercase;
        color: #8692A6;

      }
    }
    .status-info-right-col {
      width: 40rem;
      margin-left: 2rem;

      .status-info-col-state {
        width: 30rem;
        margin-bottom: 1.25rem;
        font-family: $theme-font-MulishBold;
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.1rem;

        &.green {
          color: #01AD31;
        }

        &.red {
          color: #CA0000;
        }
      }

      .status-info-col-text {
        font-family: $theme-font-MulishMedium;

        margin-bottom: 2rem;
      }
    }
  }
}

.control {
  button.submit-button {
    width: 9rem;
    font-size: 0.9rem;
  }
}


.status-error {
  font-family: $theme-font-MulishMedium;
  font-size: 0.9rem;

  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 23rem;
  height: 3rem;
  border-radius: 0.3rem;
  padding: 1rem 1rem;

  position: absolute;
  top: 3rem;
  right: 2rem;
}
