<script src="../../+super-admin-faculties/page-super-admin-faculties-create/page-admin-faculties-create.component.ts"></script>
<div style ="max-width: 500px; margin: 0 auto;">
  <h1>Новий користувач</h1><br>
  <div class = "form-side">
    <form [formGroup]="adminCreateUserForm" (ngSubmit) = "actionSave()">
      <!--[formGroup]="createFacultyForm" (ngSubmit)="actionSave()-->
      <div style="display: flex; justify-content: space-between">
        <div>
          <h2>Логин</h2>
          <input class="" placeholder="IT" name = "login" formControlName ="login">
        </div>
        <div>
            <h2>Email</h2>
          <input class="" placeholder="IT" name = "email" formControlName="email">
        </div>
      </div>

      <button style="margin-top: 15px">Создать студента</button>
    </form>
  </div>
</div>
