<div style =" margin: 0 auto; width: 1200px">
  <header>
    <button class ="button is-primary is-light">Додати нового користувача</button>
    <button class ="button is-warning is-light">btn right</button>
    <p>20-240 із 12</p>
    <button class ="button is-warning is-light">btn left</button>
    <button class ="button is-link">Фільтри</button>
  </header>
  <h1>Список користувачів</h1>
  <div class="columns btn-container">
    <div class="column"><button class ="button is-dark">Усi користувачi</button></div>
    <div class="column"><button class ="button is-dark">Студенти</button></div>
    <div class="column"><button class ="button is-dark">Админiстратори</button></div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th><abbr title="Position">Id</abbr></th>
        <th>Телефон</th>
        <th><abbr title="phone-number">Факультет</abbr></th>
        <th><abbr title="student-pib">ПІБ Студента</abbr></th>
        <th><abbr title="user-state">Стан користувача</abbr></th>
        <th><abbr title="email">Електронна пошта</abbr></th>
        <th><abbr title="login">Логін</abbr></th>
        <th><abbr title="last-check">Останній візит</abbr></th>
        <th><abbr title="role">Роль</abbr></th>
        <th><abbr title="btn"></abbr></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th>1</th>
        <td>380508144478</td>
        <td>ЭИ</td>
        <td>ПІБ</td>
        <td class="status__active">Активний</td>
        <td>dd@dd.com</td>
        <td>login</td>
        <td>22.02.2022</td>
        <td>Студент</td>
        <td><button>...</button></td>
      </tr>
      <tr>
        <th>2</th>
        <td>380508144478</td>
        <td>ЭИ</td>
        <td>ПІБ</td>
        <td class="status__disabled">Неактивний</td>
        <td>dd@dd.com</td>
        <td>login</td>
        <td>22.02.2022</td>
        <td>Студент</td>
        <td><button>...</button></td>
      </tr>
      <tr>
        <th>3</th>
        <td>380508144478</td>
        <td>ЭИ</td>
        <td>ПІБ</td>
        <td class="status__disabled">Неактивний</td>
        <td>dd@dd.com</td>
        <td>login</td>
        <td>22.02.2022</td>
        <td>Студент</td>
        <td><button>...</button></td>
      </tr>
      <tr>
        <th>4</th>
        <td>380508144478</td>
        <td>ЭИ</td>
        <td>ПІБ</td>
        <td class="status__disabled">Неактивний</td>
        <td>dd@dd.com</td>
        <td>login</td>
        <td>22.02.2022</td>
        <td>Студент</td>
        <td><button>...</button></td>
      </tr>
    </tbody>
  </table>
</div>

