<ng-container *ngIf="formField && formField.touched && formField.errors">

  <ng-container *ngIf="formField.errors?.required">
    <p class="help is-danger">Це поле обов'язково для заповнення</p>
  </ng-container>

  <ng-container *ngIf="formField.errors?.empty">
    <p class="help is-danger">Поле не повинно бути порожнім</p>
  </ng-container>

  <ng-container *ngIf="formField.errors?.minlength">
    <p class="help is-danger">Мінімальна
      довжина {{validValue}} {{validValue === 1 ? 'символ' : validValue < 5 ? 'символи' : 'символів'}}</p>
  </ng-container>

  <ng-container *ngIf="formField.errors?.pattern">
    <p class="help is-danger">Введенні невалідні данні</p>
  </ng-container>

</ng-container>
